body{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
}
header, footer{
    background-color: gray;
}
.site-title{
    color:brown;
}
#my-image{
    box-shadow: 0 5px 10px black;
}