body{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
}
header, footer{
    background-color:rgb(130, 23, 142);
}
.site-title{
    color:rgb(146, 146, 111);
}
#my-image{
    box-shadow: 0 2px 1px black;
}
ul.square{
    list-style-type: square;
}
li:nth-child(odd){
    background-color: darkorange;
}
a:link{
    text-decoration: none;
    background-color:rgb(50, 110, 55);
    border-style: solid;
}