/*setting the font, size, and primary background color on the page */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    font-size: 15px;
}
/*page content wrapped inside a container of specified width and margin*/
.wrapper{
    margin: auto; /*centering the page contents within the wrapper container*/
    width: 850px;
    background-color: #ecf1f0; /*wrapper container color*/
}
/*positioning the title of the page on top of the image */
h1{
    position: absolute; /*removes the header title from original position and move it on top of the image*/
    top: 55%;
    width: 100%;
    text-align:center; /*title text alignment*/
    color:aliceblue;
}
/*position the image on the page relative to the header*/
.container{
    position: relative; 
    max-width: 100%;
    margin: auto;
}
img{
    width: 100%;
}
/*putting space between body content and wrapper(container) border*/
.main-body{
    margin: 10px;
}
/*removing underline under links*/
a:link{
    text-decoration: none;
}
/*setting up links color and size*/
a{
    color: black;
    font-size: 150%;
}
/*arrange the links automatically from the unordered list according to the size */
.display ul{
    text-align: center; 
    list-style: none; /*removes bullets from the unordered list in navigation*/
    display:flex;
    font-weight: bold;
}
/*setting the width on the list of links*/
.display li{
    width: 33%;
}
/*puts border on the right side of first 2 child list tags under the unordered*/
.display li:nth-child(-n+2){
    border-right: 1px solid gray;
}
/*float places the image on the left side and helps wrap the text around it*/
.para img{
    float: left;
    width: 30%;
    margin: 10px;
}
/*this clears the previous floating image and sets the text to right of the image*/
.para1{
    clear: right;
}
/*sets borders on the form*/
#form{
    border: 1px solid black;
    padding: 20px;
}
/*sets the style of the input text width and places them in blocks*/
.small{
    width: 100%;
    padding: 2px 2px;
    margin: 5px 0;
    display: inline-block;
}
/*sets the style of the textarea width and places them in blocks*/
.big{
    width: 100%;
    padding: 30px 2px;
    margin: 5px 0;
    display: inline-block;
    resize: none; /*removes the right of the user to resize the textarea*/
}
/*sets space on top of button*/
div button{
    background-color:#ecf1f0;
    margin-top: 5px;
}
/*puts the footer on the right side of the container*/
footer{
    text-align: right;
}