body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}
.wrapper{
    margin: 100px auto;
    width: 1000px;
    background-color: #ecf1f0;
}
#form{
    border: 1px solid black;
}
div button{
    background-color:#ecf1f0;
}
footer{
    margin-left: auto;
}