body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    font-size: 20px;
}
.wrapper{
    margin: auto;
    width: 800px;
    background-color: #ecf1f0;
}
h1{
    position: absolute;
    top: 55%;
    width: 100%;
    text-align:center;
    color:aliceblue;
}
.container{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}
img{
    width: 100%;
}
.main-body{
    margin: 10px;
}
.display li{
    align-items: center;
    display: inline;
    margin-right: 100px;
    border-right-style: 1px solid gray;
    font-weight: bold;
}
a:link{
    text-decoration: none;
}
.para img{
    float: left;
    width: 30%;
    margin: 10px;
}
.para1{
    clear: right;
}
#form{
    border: 1px solid black;
    padding: 20px;
}
.long{
    width: 95%;
    padding: 5px 5px;
    margin: 5px 0;
    display: inline-block;
}
div button{
    background-color:#ecf1f0;
}
footer{
    margin-right: auto;
    text-align: right;
}