/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}
.wrapper{
    max-width: 1200px;
    margin: auto;
}
div a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #c78c06;
}
.container{
    background-color: black;
    padding: 20px;
    text-align: center;
    color:#c78c06;
}
.cont-1{
    background-color: #c78c06;
    padding: 30px;
    width: 100%;
}
.cont-1, .cont-2 a:nth-child(1){
    background-color: #c78c06;
    padding: 30px;
    color: black;
}
.cont-1 img{
    position: absolute;
    top: 20px;
    left: 280px;
    width: 60px;
}
input{
    width: 100%;
}
.welcome img{
    width: 100%;
}
.welcome{
    position: relative;
    max-width: 100%;
    margin: auto;
}
article{
    padding: 50px;
}
.homeee{
    position: absolute;
    top: 20%;
    background-color: rgba(45, 40, 40, 0.61);
    width: 100%;
    height: 50%;
    text-align: left;
}
h1{
    font-size: 120px;
    color: white;
}
article button{
    background-color: #c78c06;
    padding: 20px;
    margin-top: 10px;
    font-size: 20px;
}
.homeee p{
    color: white;
}
.about{
    background-color: #ffe6ac;
    padding: 20px;
}
.about img{
    width: 100%;
}
h2{
    font-size: 60px;
    color: #222;
    margin-top: 30px;
}
.about p{
    margin-top: 10px;
}
.services{
    padding: 10px;
}
.services img{
    width: 100%;
}
.services .digital,
.services .marketing,
.services .video,
.services .web,
.services .print{
    margin-bottom: 30px;
    background-color: #ffe6ac;
    color: #222;
}
section h3{
    font-size: 40px;
    margin-top: 10px;
    
}
section button{
    background-color: #222;
    padding: 20px;
    color: white;
    margin-top: 20px;
    font-size: 20px;
}
section p{
    margin-top: 20px;
    font-size: 20px;
}